ol li {
    background-color: yellow;
}

.indice-impar {
    text-transform: uppercase;
}

.indice-par {
    color: green;
}

h1, h3 {
    color: red;
}

h1 em {
    font-size: 40px;
    border: 1px black solid;
}